



/* Opacity */
#img1 {
  width: 200px;
  height: auto;
  opacity: 40%;
  /* Makes image transparent */
}

/* Overflow */
#div1 {
  background-color: black;
  color: white;
  width: 500px;
  height: 400px;
  overflow: auto;
  /* Adjusts the overflow in both direction */
}

/* Cursor */
p {
  cursor: row-resize;
}

button {
  margin: 25px;
  background-color: orange;
  border: 3px solid orange;
  border-radius: 50px;
  padding: 7px 8px;
  cursor: pointer;
  /* There are different other cursors as well learn about them from documation. */
}

/* Box-sizing */
#div2 {
  background-color: orangered;
  width: 80%;
  height: 200px;
  margin-left: 100px;
  box-sizing: content-box;
  padding: 50px;
  /* It takes width and height from overall content */
}

#div3 {
  background-color: yellow;
  width: 80%;
  height: 200px;
  margin-left: 100px;
  padding: 50px;
  box-sizing: content-box;
  margin-top: 25px;
  border: 15px solid black;
  box-sizing: border-box;
  /* It takes height and width from only border */
}

/* Float and Clear */

#img2 {
  width: 200px;
  height: auto;
  margin-top: 10px;
  float: right;
  clear: both;
  /* Float towards right and clear goes down */
}

/* Animation */

@keyframes changecolor {
  0% {
    border-radius: 0%;
    padding: 15px;
  }
  10% {
    border-radius: 10%;
  }
  20% {
    border-radius: 20%;
  }
  30% {
    border-radius: 30%;
  }
  40% {
    border-radius: 40%;
  }

  50% {
    border-radius: 50%;
  }
  60% {
    border-radius: 40%;
  }
  70% {
    border-radius: 30%;
  }
  80% {
    border-radius: 20%;
  }
  90% {
    border-radius: 10%;
  }
  100% {
    border-radius: 0%;
  }
}

#div4 {
  background-color: orchid;
  height: 200px;
  width: 200px;
  margin: 100px;
  padding: 15px;
  animation-name: changecolor;
  animation-duration: 4s;
  animation-delay: 4s;
}

/* Pseudo Classes */
li:first-child {
  color: indianred;
} /*For 1st child*/

li:last-child {
  color: darkblue;
} /*For last child*/

li:nth-child(3) {
  color: indigo;
} /* For some of the child */

li:nth-child(even) {
  color: green;
}

input:focus {
  border: 3px solid red;
}

/* Pseudo element */

input::placeholder {
  font-size: 18px;
  color: red;
}

#p2::first-letter {
  color: green;
  text-transform: capitalize;
  font-size: 30px;
}

#h1::before {
  content: url(./assets/cat.jpg);
}

#p2::first-line {
  color: red;
  font-size: 25px;
}

/* Display and Visibility */
#display {
  display: none;
  width: 100px;
  border: 2px solid blue;
  /* Does not take any space */
}

#display1 {
  visibility: hidden;
  border: 1px solid red;
  width: 200px;
  height: 200px;
}
/* Takes the space */

#display2 {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid red;
}
/* Opens from next line and takes height and width. */

#display3 {
  display: inline;
  border: 2px solid blue;
}

#display4 {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid green;
}

/* Position */
body {
  height: 1000px;
}

#parent1 {
  border: 1px solid red;
  width: 50%;
  padding: 30px;
  margin: 100px;
}

#parent2 {
  border: 1px solid orange;
  width: 50%;
  padding: 30px;
  margin: 100px;
  position: relative;
}

#one {
  width: 100px;
  height: 100px;
  background-color: green;
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
#two {
  width: 100px;
  height: 100px;
  background-color: blue;
  display: inline-block;
  position: relative;
  top: 50px;
  left: 50px;
}
#three {
  width: 100px;
  height: 100px;
  background-color: yellow;
  display: inline-block;
  position: absolute;
  top: 2600px;
  left: 50px;
}
#four {
  width: 100px;
  height: 100px;
  background-color: violet;
  display: inline-block;
}
#five {
  height: 100px;
  background-color: purple;
  display: inline-block;
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
}
#six {
  width: 100px;
  height: 100px;
  background-color: indigo;
  display: inline-block;
}
/* Flex-Box */
.flex-container{
  background-color: #9f00ff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100vh;
  align-items: stretch; 
  /* flex-wrap: wrap; */
  align-content: space-evenly;
}

.flex-child{
  background-color: orange;
  margin: 20px;
  padding: 20px;
  width: 60%;
  text-align: center;
}

#One{
      order: 4;
}
#Two{
       order: 3;
}
#Three{
        order: 2;
        flex-basis: 3;
}
#Four{
        order: 1
}
#Five{
        order: 6
}
#Six{
        order: 8;
}
#Seven{
        order: 7;
}
#Eight{
         order: 5
} 

/* Multiple Column */
#column{
  column-count: 4;
  column-rule: 1px solid orange;
  column-gap: 40px;
  column-width: 400px;
}

#heading{
  column-span: all;
}

/* Box-Shadow */
#shadow{
  text-align: center;
  margin-top: 15px;
  color: black;
}

#div6{
  background-color: purple;
  border: 3px dashed black;
  width: 500px;
  height: 300px;
  margin: 100px;
  padding: 25px;
  font-size: 50px;
  font-weight: bold;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px 5px gray;
}
/* Re-size */
#overflow{
  border: 4px solid white;
  width: 500px;
  height: 300px;
  overflow: auto;
  margin-bottom: 10px;
  resize: both;
}
#overflow1{
  border: 4px solid white;
    width: 500px;
    height: 300px;
    overflow: auto;
    margin-bottom: 10px;
    resize: horizontal;
}
#overflow2{
  order: 4px solid white;
    width: 500px;
    height: 300px;
    overflow: auto;
    resize: vertical;
}

#textarea{
  resize:none
}
/* Font */

@font-face{
  font-family: Allura;
  src: url("./Fonts/Allura-Regular.ttf")
}

@font-face{
  font-family: 'Luckiest Guy';
  src: url("./Fonts//LuckiestGuy.ttf")
}

#big{
  font-weight: bold;
   font-style: italic;
   font-family: 'Poppins', sans-serif;
   
}
#p3{
  font-size: 20px;
    font-weight: 400;
    
     font-variant:small-caps;
 
    font-family: 'Raleway', sans-serif;
    font-style: oblique;
}
#small{
  font-family: Allura ;
}
#smaller{
  font-family: Allura,'Poppins', sans-serif;
}
#smallest{
  font-family:"Luckiest Guy" ;
}
/* Print style */

@media print{
  #p3{
    background-color: black;
    color: white;
  }
}

@media print{
  #small{
    background-color: red;
    color: white;
  }
}

/* Specificity and Important*/

.green{
  color: green;
}

#p4{
  color: yellowgreen
}

.green #p4{
  color: yellow;
}

.blue{
  color: blue
}

#p6{
  color: red !important
}

#p6{
  color: purple;
}
/* Layers and z-index */

#parent{
  /* border: 2px solid red; */
  padding: 20px;
  width: 50%;
  margin: 100px;
  position: relative;
  
}

#one{
  width: 100px;
  height: 100px;
  background-color: green;
  display:inline-block;
  position: relative;
  z-index: 2;
}

#two{
  width: 100px;
  height: 100px;
  background-color: blue;
  display:inline-block;
  position: relative;
  top: 50px;
  left: -50px;
  z-index: 3;
}

#three{
  width: 100px;
  height: 100px;
  background-color: black;
  display:inline-block;
  position: relative;
  top: 100px;
  left: -100px;
  z-index: 1;
}

/* Gradient */
#div7{
  height: 100vh;
  border: 20px solid orchid;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 15px 10px ;
  padding: 10px;
  background-image: linear-gradient(150deg , #66023c,#ffb347,#7cfc00);
}

#h21{
  color: white;
  background-image: linear-gradient(150deg , #66023c,#ffb347,#7cfc00);;
}

#div8{
  height: 100vh;
  border: 20px solid orchid;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 15px 10px ;
  padding: 10px;
  background-image: radial-gradient(circle,#4b0082 30%,#fe5a1d 50%,#adff2f 20%);
}


#h22{
  color:white;
  background-image: radial-gradient(circle,#4b0082,#fe5a1d,#adff2f);
}
